*{
    margin: 0; padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-content: center;
}
main{
    border: 1px solid black;
    width: 40%;
    margin: 10rem auto;
    height: auto;
}
#title{
    background-color: #C4C4C4;
    border-bottom: 1px black solid;
    padding: 10px;
}
#menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
}
#menubody{
    border-top: 1px solid black ;
    border-left: 1px solid black ;
    border-right:1px solid black ;
    display: flex;
    background-color:  #C4C4C4 ;
    width: 70%;
    height: 13vh;
    justify-content: space-evenly;
    padding: 3px;
}
#send{
    margin-top: 0.5rem ;
    color: white;
    background-color: #06c;
    border-radius: 10px;
    padding: 6px;
    border: none;
}

#text textarea{
    margin-top: 0.5rem ;
    margin-bottom :0.5rem; ;
    width: 25rem;
    justify-content: center;
    height: 6rem;
    border: #000 1px solid;
}
#mensagens{
    width: 100%;
    height: 40vh;
    overflow: auto;
}
.textmen{
    margin-top: 10px;
    border: #000 solid 1px;
    background-color: #FAFAFA;
    padding: 0.5rem;
}
.contmen{

    width: 90%;
    margin: auto;
}
.btexit{
    border: none;
    background-color: #F65D5D;
    padding: 3px;
}
.btedit{
    border: none;
    background-color: #F6A75D;
    padding: 3px
}
.bottons{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}